<%= form_for @vehicle_model do |f| %>
	
	<%= render 'shared/errors', object: @vehicle_model %>
  
  <p>
    <%= f.text_field :name,  class: "form-control", placeholder: "Name", required: true %>
  </p>
  <p>
    <%= f.number_field :year,  class: "form-control", placeholder: "Year", min: "1900", max: "2060"  %>
  </p>
  <p>
    <%= f.collection_select :vehicle_make_id, VehicleMake.all, :id,:name, {prompt: "Select Vehicle Make"}, {class: "form-control"} %>
  </p>
  <p><%= f.submit "Save", class: "btn btn-lg btn-primary btn-block btn-signin" %></p>
<% end %>