<% permitted_to? :manage, :product_discounts do %>
	<%= link_to 'Create Product Discount', new_product_discount_path %>

<table class="table table-hover">
  <tr>
    <th>Product</th>
    <th>Starting</th>
    <th>Ending</th>
    <th>Type</th>
    <th>% Discount</th>
    <th>Active</th>
    <th></th>
  </tr>
 
  <% @product_discounts.each do |discount| %>
    <tr>
      <td><%= Product.find(discount.product_id).name %></td>
      <td><%= discount.date_from.strftime("%Y %B %d") %></td>
      <td><%= discount.date_to.strftime("%Y %B %d") %></td>
      <td><%= discount.type %></td>
      <td><%= discount.percent %></td>
      <td><%= discount.active %></td>
      <% permitted_to? :manage, :product_discounts do %>
      	<td><%= link_to 'Edit', discount, method: :get %></td>
    
      	<td><%= link_to 'Delete', discount, method: :delete,
      	data: { confirm: 'Are you sure you want to  delete the '+discount.percent+'% discount for \''+(Product.find(discount.product_id).name)+'\'?' }  %></td>
      <% end %>
      
    </tr>
  <% end %>
</table>
<p>
<%= will_paginate(@product_discounts, :previous_label => "&laquo;", :next_label => "&raquo;", :class=>"small-font", :outer_window => 1, :inner_window => 0, :class=>"small-font", :outer_window => 1, :inner_window => 0) %>
<%= page_entries_info @product_discounts %>
</p>

<% end %>
