<% if current_user %>
	<p>
		V-Tech kicking in...
	</p>
<% else %>
	<div class="jumbotron hoctransparent hocwhite">
		<div class="container hoctransparent">
			
			<div class="row">
			
				<div class="col-xs-6">
					<h1 class="hocheader">Welcome Visitor</h1>
					<p>This is the official Honda owners' club Kenya portal.</p>
				</div>
				
				
				<div class="col-xs-6">
					<%= image_tag 'civic_honda2.png', height: '350', class:"img-responsive" %>
				</div>
				
			</div>	
		    
			<div class="row">
			    <div class="col-sm-8">	
					<h2><a href="#whatdoes" class="btn btn-info hocredbtn" data-toggle="collapse">What does Honda Owners' Club Kenya do?</a></h2>
					<div  id="whatdoes"  class="collapse">
					  <ul>
						<li>Help each other out take care of our honda cars</li>
						<li>Participate in charity events - help the less fortunate in society</li>
						<li>Participate in car events (racing,fun drives)</li>
						<li>Share information on affordable quality Honda spare parts - avoid being knocked off by rogue sales shops and mechanics</li>
						<li>Hold discussions pertaining Hondas and related topics</li>
						<li>We have in-house trusted mechanics who help service Honda vehicles</li>
						<li>Have fun chatting via our whatsapp group</li>					
					  </ul>
					</div>
			    </div>
			</div>	    
		    
			<div class="row">
			    <div class="col-sm-8">	
					<h2><a href="#howtojoin" class="btn btn-info hocredbtn" data-toggle="collapse">How do I join Honda Owners' Club Kenya ?</a></h2>
					<div  id="howtojoin"  class="collapse">
					  <ol>
						<li>You must love Hondas</li>
						<li>You must own a Honda vehicle or motorcycle</li>
						<li><%= link_to 'Register', new_user_path %> yourself as a member.</li> 
						<li>Join <%= link_to 'Telegram', 'https://telegram.org/', :target => "_blank" %> and you'll be added to the HOC Kenya group</li>
						<li>Preferably become a premium member by paying KES 2,000/-</li>
					  </ol>
					</div>
			    </div>
				
			</div>
			
			<div class="row">
			    <div class="col-sm-8">
				<h2><a href="#premmember" class="btn btn-info hocredbtn" data-toggle="collapse">Premium Membership Benefits</a></h2>
				<div id="premmember"  class="collapse">
				  <ul>
					<li>
						A unique serial number and a 
						<%= link_to 'HOC Sticker', 
						asset_path("hoc.png"), :target => "_blank" %> for their vehicle
					</li>
					<li>
						Have access to discounts by
						the HOC's in-house mechanics and spares / accessory vendors.
					</li>
					<li>
						Subsidised fees for any activities HOC holds.
					</li>
					<li>
						Free public vehicle profile - HOC Kenya vehicle market. This is where HOC members can sell/buy vehicles from each other.
					</li>
				  </ul>
				</div>
			   </div>
			</div>
			
			<br/><br/>
			
			<div class="row">
			   <div class="col-sm-8">
			  	<p>
			      		<%= link_to new_user_path, class: 'btn btn-primary hocredbtnlink' do %>
						I want to join HOC!&raquo;
			      		<% end %>
			  	</p>
			   </div>
			</div>
			
		</div> 
	</div>
<% end %>