<h1 class="hocheaders">Product Details</h1>

<%= form_for @product, :html => { :multipart => true } do |f| %>
	
	<%= render 'shared/errors', object: @product %>  

  <p>
    <%  
       gen_sku = getSeq("SKU")
      %>
    <%= f.collection_select :vehicle_models, [] , :id,:text, {}, {:multiple => true,  autofocus: 'true', class: 'form-control myselectss', id: 'vehicle_model', "data-tags" => "true"} %>
  </p>
   <p>
    <%= f.text_field :name,  class: "form-control", placeholder: "Product Name", required: true %>
  </p>
  <p>
    <%= f.text_field :sku, value: ( (@product.sku.nil? || @product.sku.empty?)  ? gen_sku : @product.sku),  class: "form-control", placeholder: "SKU", readonly: true  %>
  </p>
  <p>
    <%= f.number_field :count,  class: "form-control", placeholder: "Initial Quantity"  %>
  </p>
   
  <p>
    <%= f.collection_select :inventory_id, Inventory.all, :id,:name, {prompt: "Select an Inventory"}, {class: "form-control", required: true} %>
  </p>
  <p>
    <%= f.text_area :description,  class: "form-control", placeholder: "Description"  %>
  </p>
  
  <p>
    <%= f.file_field :avatar, name: "images[avatar][]", :multiple => true, class: "form-control", placeholder: "Add images"  %>
  </p>
  
  <p>
  	<%= render 'pricings', f: f, product: @product  %>
  </p>
  
  <p>
  	<%= render 'discounts', f: f, product: @product  %>
  	
  </p>
  
  <p><%= f.submit "Save", class: "btn btn-lg btn-primary btn-block btn-signin" %></p>
<% end %>


<h1 class="hocheaders">Images</h1>

<% if(!@images.nil? && @images.respond_to?(:each)) %>
	<% counter = 0
	   count_per_row = 3 %>
	<% @images.each do |p| %>
		 <% remainder = counter%count_per_row
		   	new_row = remainder==0
		   	counter = counter+1 %>  
		   		
		   	<%  if(new_row || counter==0) %>
				  <div class="row">
			<%  end %>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<div class="thumbnail col-xs-3 col-sm-3 col-md-3 col-lg-4">
							<div class="row">
						  	    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					  				<%= link_to 'X', p, method: :delete,
				      				data: { confirm: 'Are you sure you want to  delete this image \''+p.avatar_url+'\' ?' }  %>
					  	    	</div>
					  	    </div>
					  	    
					  	    <div class="row"  style="border: 1px solid red">
						  	    <div class="">
						  	    	<%= image_tag p.avatar.url,   :class => "img-responsive" %>
						  	    </div>
					  	    </div>
					  	</div>
					</div>
					<div class="clearfix visible-xs"></div>
			<%  if(counter==count_per_row)
					counter = 0 %>
				  </div>
			<%  end %>
	<% end %>		  	
<% end %> 

<script type="text/javascript">

$(document).ready(function(){
    $('.datepicker_to1').datepicker();
    $('.datepicker_to2').datepicker();
  });
product_id = ("<%= @product.id %>");
 var x = $( '.myselectss' ).select2({
    	theme: "bootstrap",
    	placeholder: 'Type to Search Vehicle Model...',
  		allowClear: false,
    	tags: true,
    	vehicle_models: [],
    	multiple: true,
    	initSelection: function(element, callback) {
    		//console.log("we've called init!");
    		$.ajax({
    			url: '/search/vehicle_model?product_id='+product_id, 
		        dataType: 'json', 
    			data: function (params) {
			      return {
			        product_id: product_id
			      };
			    }/*,
			    cache: false,
	    		escapeMarkup: function (markup) { 
	    			return markup; 
	    		}*/
			}).done(function(data) { 
					$.each(data, function(idx, val) {
					
				        data[idx].text = val.name;
				        $('#vehicle_model').append(
				        	$('<option>', { 
					        	value: val.id,
					        	text : val.text 
					    	})
					    );
				        $('select#vehicle_model option[value='+val.id+']').attr('selected','selected');
				        
				        //$(".select2-selection__choice__remove").click(function (e) { alert('hi'); }); 
				    });
		            callback(data);
		      });
    		//callback({"id": 5, "text":"myValue"});
    	}, 
    	ajax: {
			url: '/search/vehicle_model',
			delay: 250,
			data: function (params) {
		      return {
		        q: params.term, // search term
		        page: params.page
		      };
		    },
			processResults: function (data, params) {
				params.page = params.page || 1;
			    data = JSON.parse(data);
			    $.each(data, function(idx, val) {
			        data[idx].text = val.name;
			    });
			    return {
			        results: data,
			        pagination: {
			          more: (params.page * 30) < data.total_count
			        }
				}
			}
		},	
    	createSearchChoice: function (term, data){
    		console.log(data);
    		console.log(term);
    	},
    	insertTag: function (data, tag) {
	    	// Insert the tag at the end of the results
	    	//data.push(tag);
	  	}
});


</script>