<%= form_for @product, :html => { :multipart => true } do |f| %>
	
	<%= render 'shared/errors', object: @product %>  

  <p>
    <% prev_selected = VehicleMake.find_by_model_id(@product.vehicle_model_id)
    	if(prev_selected.nil?)
    		prev_selected = []
    	end
     %>
    <%= f.collection_select :vehicle_model_id, prev_selected , :id,:name, {}, {required: 'true', autofocus: 'true', class: 'form-control', id: 'vehicle_model'} %>
  </p>
   <p>
    <%= f.text_field :name,  class: "form-control", placeholder: "Product Name", required: true %>
  </p>
  <p>
    <%= f.text_field :sku, value: getSeq("SKU"),  class: "form-control", placeholder: "SKU", readonly: true  %>
  </p>
  <p>
    <%= f.number_field :count,  class: "form-control", placeholder: "Initial Quantity"  %>
  </p>
   
  <p>
    <%= f.collection_select :inventory_id, Inventory.all, :id,:name, {prompt: "Select an Inventory"}, {class: "form-control", required: true} %>
  </p>
  <p>
    <%= f.text_area :description,  class: "form-control", placeholder: "Description"  %>
  </p>
  
  <div>
  
  	<% if(!@images.nil? && @images.respond_to?(:each)) %>
	  	<% @images.each do |p| %>
	  	
	  	    <% if(!p.avatar_url.nil?) %>
		  		<div class="col-sm-3 col-xs-3">
		  			<%= link_to 'X', p, method: :delete,
	      			data: { confirm: 'Are you sure you want to  delete this image \''+p.avatar_url+'\' ?' }  %>
		  	
		  			<%= image_tag p.avatar.thumb.url, :style => "", :class => "img-fluid img-thumbnail thumbnail" %>
		  		</div>
	  		<% end %>
	  	<% end %>
	  	
  	<% end %>
	  
	<%= f.fields_for :images do |p| %>
		<% if(!p.nil?) %>
		  <div class="field">
		  <%= p.label :avatar %><br>
		  <%= p.file_field :avatar, :multiple => true, name: "images[avatar][]" %>
		  </div>
		<% end %>
  	<% end %>
  </div>
  
  <p><%= f.submit "Save", class: "btn btn-lg btn-primary btn-block btn-signin" %></p>
<% end %>

<script type="text/javascript">
 $( "#vehicle_model" ).select2({
    	theme: "bootstrap",
    	placeholder: 'Type to Search Vehicle Model...',
  		allowClear: true,
    	tags: true,
    	multiple: true,
    	allowClear: false,
    	dataType: 'json',
    	createSearchChoice: function (term, data){
    		console.log(data);
    		console.log(term);
    	},
    	insertTag: function (data, tag) {
	    	// Insert the tag at the end of the results
	    	//data.push(tag);
	  	},
		ajax: {
			url: '/search/vehicle_model',
			delay: 250,
			data: function (params) {
		      return {
		        q: params.term, // search term
		        page: params.page
		      };
		    },
			processResults: function (data, params) {
				params.page = params.page || 1;
			    data = JSON.parse(data);
			    $.each(data, function(idx, val) {
			        data[idx].text = val.name;
			    });
			    return {
			        results: data,
			        pagination: {
			          more: (params.page * 30) < data.total_count
			        }
			    };
			},
    		cache: true,
    		escapeMarkup: function (markup) { 
    			return markup; 
    		},
    		minimumInputLength: 2,
     }
});
</script>