<%= form_for @product do |f| %>
	
	<%= render 'shared/errors', object: @product %>  
	
  <p>
    <%= f.text_field :name,  class: "form-control", placeholder: "Product Name", required: true %>
  </p>
  <p>
    <%= f.text_field :sku, value: getSeq("SKU"),  class: "form-control", placeholder: "SKU", readonly: true  %>
  </p>
  <p>
    <%= f.number_field :count,  class: "form-control", placeholder: "Initial Quantity"  %>
  </p>
   
  <p>
    <%= f.collection_select :inventory_id, Inventory.all, :id,:name, {prompt: "Select an Inventory"}, {class: "form-control"} %>
  </p>
  <p>
    <%= f.text_area :description,  class: "form-control", placeholder: "Description"  %>
  </p>
  <p><%= f.submit "Add Product", class: "btn btn-lg btn-primary btn-block btn-signin" %></p>
<% end %>