<%= link_to 'New Product', new_product_url, remote: true %>
<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <h2>Products</h2>
  </div>

  <div class="col-md-2 col-md-offset-4">
    <%= link_to new_product_url, remote: true do %>
      <button class="btn btn-default">New</button>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-2" id="product-form" style="display:none;"></div>
</div>

<div class="row">
 <table id="products-table" class="table table-hover">
  <tr>
    <th>SKU</th>
    <th>Name</th>
    <th>Stock Qty</th>
    <% permitted_to? :manage, :products do %>
    	<th></th>
    <% end %>
  </tr>
  <%= render @products %>
  </table>
  
</div>
<p>
<%= will_paginate(@products, :id => "productpagination", :previous_label => "&laquo;", :next_label => "&raquo;", :class=>"small-font", :outer_window => 1, :inner_window => 0) %>
<span  id="gotham"><%= page_entries_info @products %></span>
</p>