<%= form_for @account do |f| %>
	
	<%= render 'shared/errors', object: @account %>
  
  <p>
    <%= f.text_field :name,  class: "form-control", placeholder: "Name", required: true %>
  </p>
  <p>
    <%= f.text_field :code, value: getSeq("AC"),  class: "form-control", placeholder: "Ac. Code", required: true %>
  </p>
  <p>
    <%= f.text_area :description, class: "form-control", placeholder: "Description" %>
  </p>
  <p><%= f.submit "Save", class: "btn btn-lg btn-primary btn-block btn-signin" %></p>
<% end %>